header, footer {
    margin: 0;
    padding: 0;
}
.notificaciones,
.informacion-personal {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notificaciones {
  max-width: 300px;
}

.informacion-personal {
  max-width: 500px;
}

@media (min-width: 768px) {
  .notificaciones,
  .informacion-personal {
    margin: 0;
  }
}
